td {
    font-size: 18px !important;
}

th {
    font-size: 20px !important;
}

.rounded-pill {
    border-color: var(--falcon-btn-falcon-default-color) !important;
}

.pl-0 {
    padding-left: 0 !important;
}