<div class="row my-3 d-flex text-center">
    <div class="col-6">
        <button class="btn btn-falcon-default rounded-pill me-1 mb-1 w-50" type="button" routerLink="/searchByName">
            <span class="bi bi-search fs-1 mx-2" data-fa-transform="shrink-3"></span>
            بحث بالاسم
        </button>
    </div>
    <div class="col-6">
        <button class="btn btn-falcon-default rounded-pill me-1 mb-1 w-50" type="button" routerLink="/searchByCivilID">
            <span class="bi bi-search fs-1 mx-2" data-fa-transform="shrink-3"></span>
            بحث بالرقم المدني
        </button>
    </div>
</div>
<div class="card border  shadow-none">
    <div class="card-body  d-flex">
        <div class="p-0 m-0" style="width: 60%;">
            <div id="prisonersTable" class="table-responsive scrollbar w-100">
                <table mat-table [dataSource]="dataSource" [multiTemplateDataRows]="true" matSort
                    class="table overflow-hidden table-hover fs--1 " style="margin: 0 !important;">

                    <ng-container matColumnDef="sNo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-200 text-900 p-2">م</th>
                        <td mat-cell *matCellDef="let element" class="p-12 py-12"
                            (click)="getJailDetails(element?.jailNumber,element?.jailName)">
                            {{element?.sNo }}
                        </td>
                        <td mat-footer-cell *matFooterCellDef class="text-900 pr-20"></td>
                    </ng-container>
                    <ng-container matColumnDef="jailName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-200 text-900 p-2">السجن</th>
                        <td mat-cell *matCellDef="let element" class="p-12 py-12"
                            (click)="getJailDetails(element?.jailNumber,element?.jailName)">
                            {{element?.jailName }}
                        </td>
                        <td mat-footer-cell *matFooterCellDef class="text-900 pr-20">الإجمالي</td>
                    </ng-container>

                    <ng-container matColumnDef="prisonersCount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-200 text-900 p-2">عدد السجناء
                        </th>
                        <td mat-cell *matCellDef="let element" class="p-12 py-12"
                            (click)="getJailDetails(element?.jailNumber,element?.jailName)">
                            {{element?.prisonersCount}}</td>
                        <td mat-footer-cell *matFooterCellDef class="text-900 pr-20">{{total_prisonersCount}}</td>
                    </ng-container>
                    <ng-container matColumnDef="custodyCount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-200 text-900 p-2">عدد الموقوفين
                        </th>
                        <td mat-cell *matCellDef="let element" class="p-12 py-12"
                            (click)="getJailDetails(element?.jailNumber,element?.jailName)">
                            {{element?.custodyCount}}</td>
                        <td mat-footer-cell *matFooterCellDef class="text-900 pr-20">{{total_custodyCount}}</td>
                    </ng-container>
                    <ng-container matColumnDef="total_count">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-200 text-900 p-2"> عدد النزلاء
                        </th>
                        <td mat-cell *matCellDef="let element" class="p-12 py-12"
                            (click)="getJailDetails(element?.jailNumber,element?.jailName)">
                            {{element?.total_count}}</td>
                        <td mat-footer-cell *matFooterCellDef class="text-900 pr-20">{{total_total_count}}</td>
                    </ng-container>
                    <ng-container matColumnDef="capacity">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-200 text-900 p-2">الطاقة
                            الإستيعابية
                        </th>
                        <td mat-cell *matCellDef="let element" class="p-12 py-12"
                            (click)="getJailDetails(element?.jailNumber,element?.jailName)">
                            {{getJailCapacity(element?.jailNumber)}}</td>
                        <td mat-footer-cell *matFooterCellDef class="text-900 pr-20"></td>
                    </ng-container>
                    <ng-container matColumnDef="percent">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-200 text-900 p-2">النسبة
                        </th>
                        <td mat-cell *matCellDef="let element" class="p-12 py-12"
                            (click)="getJailDetails(element?.jailNumber,element?.jailName)">
                            {{getPercentage(element?.total_count,getJailCapacity(element?.jailNumber))
                            +'%'}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef class="text-900 pr-20"></td>
                    </ng-container>
                    <ng-container matColumnDef="View">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-200 text-900 p-2"
                            style="width: 200px !important;">
                        </th>
                        <td mat-cell *matCellDef="let element" class="p-12 py-12" style="width: 200px !important;"
                            (click)="getJailDetails(element?.jailNumber,element?.jailName)">
                            <div class="progress bg-200 w-100 rounded-pill" role="progressbar"
                                aria-label="Basic example" style="height:20px">
                                <div class="progress-bar rounded-pill animated-progress-bar"
                                    style="font-size: 20px !important;"
                                    [class]="getPrograssClass(element?.total_count,getJailCapacity(element?.jailNumber))"
                                    [style]="getPrograssbarStyle(element?.total_count,getJailCapacity(element?.jailNumber))">
                                    <!-- {{getPercentage(element?.RowsIefSupplied?.Count,getJailCapacity(element?.jailNumber)) 
                                    +'%'}}-->
                                </div>
                            </div>
                        </td>
                        <td mat-footer-cell *matFooterCellDef class="text-900 pr-20"></td>
                    </ng-container>

                    <!-- Table rows -->
                    <tr mat-header-row *matHeaderRowDef="tblHeadArr"></tr>
                    <tr mat-row *matRowDef="let row; columns: tblHeadArr;"></tr>
                    <tr mat-footer-row *matFooterRowDef="tblHeadArr" class="bg-light"></tr>
                    <!-- Row shown when there is no matching data. -->
                    <tr mat-no-data-row *matNoDataRow>
                        <td class="mat-cell" colspan="4">لاتوجد بيانات</td>
                    </tr>
                </table>


            </div>
        </div>
        <div class=" border-dashed-right" style="width: 40%;" *ngIf="JaildisplayList?.length >0">
            <div class="e-chart-wrapper w-100 h-100">
                <div echarts [options]="pieChartOptions" style="min-height: 600px;" data-echart-responsive="true"
                    (chartClick)="chartClicked($event)"></div>
            </div>
        </div>

    </div>
</div>
<div class="card border my-5  shadow-none" *ngIf="showDetails">
    <div class="card-header  border-bottom bg-body" style="font-size: 30px !important; height: fit-content !important;">
        {{selectedjailName}}
    </div>
    <div class="card-body d-flex w-100">
        <mat-tab-group class="my-3 w-100" *ngIf="showDetails">
            <mat-tab label="المحكومين">
                <app-jail-details class="w-100 my-5" [jailID]="selectedjailID"
                    [jailName]="selectedjailName"></app-jail-details>
            </mat-tab>
            <mat-tab label="الموقوفين"> <app-custody-details class="w-100 my-5" [jailID]="selectedjailID"
                    [jailName]="selectedjailName"></app-custody-details> </mat-tab>
        </mat-tab-group>

    </div>
</div>



<!-- <div echarts [options]="barChartOptions" style="min-height: 600px;" data-echart-responsive="true"></div> -->