<div class="row mb-3 p-0">
    <div class="col p-0">
        <div class="card border shadow-none">
            <div class="row gx-0 flex-between-center p-0">
                <div class="col-sm-auto d-flex align-items-center card-header">
                    <div class="d-flex align-items-center">
                        <div class="icon-item bg-soft-primary shadow-none me-2 bg-soft-primary">
                            <span [class]="icon"></span>
                        </div>
                        <h4 class="text-primary fw-bold mb-0 fw-medium" style="cursor: auto !important; font-size: 18px !important;">{{title}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>