<div class="d-flex">
  <div class="w-50 p-0 my-5 me-0 ml-3 ">
    <div class="card border w-100 h-100 shadow-none">
      <div class="card-header  border-bottom bg-body">
        السجناء
      </div>
      <div class="card-body p-0  d-flex w-100">
        <div id="prisonersTable" class="table-responsive scrollbar w-100">
          <div class="col-3" style="margin:20px;">
            <div class="form-floating mb-3" style="position: relative;">
              <input class="form-control form-control-sm shadow-none search" style="width: 102%" id="studentsearch"
                type="text" autocomplete="off" autofocus (keyup)="searchStudent($event)" />
              <div style=" position: absolute;left: 10px; top: 50%; transform: translateY(-50%);">
                <span class="bi-search"> </span>
              </div>
              <label for="studentsearch">بحث</label>
            </div>
          </div>
          <table mat-table [dataSource]="dataSource" [multiTemplateDataRows]="true" matSort
            class="table overflow-hidden table-hover fs--1 mb-0">
            <!-- Column definitions -->
            <ng-container matColumnDef="CivilId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-200 text-900 p-2">الرقم المدني</th>
              <td mat-cell *matCellDef="let element" class="p-12 py-12" (click)="onView(element)">{{
                element?.RowsJeWork?.CivilId }}</td>
            </ng-container>

            <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-200 text-900 p-2">الإسم</th>
              <td mat-cell *matCellDef="let element" class="p-12 py-12" (click)="onView(element)">{{
                element?.RowsJeWork?.ConcatArabicName
                }}
              </td>
            </ng-container>

            <!-- <ng-container matColumnDef="CaseNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-200 text-900 p-2">رقم القضية</th>
                <td mat-cell *matCellDef="let element" class="p-12 py-12" (click)="onView(element)">{{
                  element?.RowsCase?.CaseNumber }}</td>
              </ng-container>-->

            <ng-container matColumnDef="Crime">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-200 text-900 p-2">التهمة</th>
              <td mat-cell *matCellDef="let element" class="p-12 py-12" (click)="onView(element)">{{
                element?.RowsCrimeType?.Description }}</td>
            </ng-container>

            <ng-container matColumnDef="Nationality">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-200 text-900 p-2">الجنسية</th>
              <td mat-cell *matCellDef="let element" class="p-12 py-12" (click)="onView(element)">{{
                element?.RowsNationality?.ArabicDescription
                }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Cell">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-200 text-900 p-2">تاريخ السجن</th>?
              <td mat-cell *matCellDef="let element" class="p-12 py-12" (click)="onView(element)">{{
                element?.RowsJailSentence?.StartDate | datetimeFormat
                }}
              </td>
            </ng-container>

            <ng-container matColumnDef="View">
              <th mat-header-cell *matHeaderCellDef class="bg-200 text-900 p-12 without-sort-column"></th>
              <td mat-cell *matCellDef="let element" class="p-12 action_column_width">
                <div class="actionButtons">
                  <button class="btn p-0 " type="button" (click)="onView(element)">
                    <span class="bi bi-eye fs-1 text-primary mx-1"></span>
                  </button>
                </div>
              </td>
            </ng-container>

            <!-- Table rows -->
            <tr mat-header-row *matHeaderRowDef="tblHeadArr"></tr>
            <tr mat-row *matRowDef="let row; columns: tblHeadArr;"></tr>
            <!-- Row shown when there is no matching data. -->
            <tr mat-no-data-row *matNoDataRow>
              <td class="mat-cell" colspan="4">لاتوجد بيانات</td>
            </tr>
          </table>
          <!-- Paginator -->
          <mat-paginator matPaginator class="bg-200" [pageSizeOptions]="pageSizeOptions" aria-label="الصفحة"
            aria-itemsPerPageLabel="عدد السجناء" aria-labelledby="العدد" showFirstLastButtons>
          </mat-paginator>

        </div>
      </div>
    </div>

  </div>


  <div class="w-50 p-0 my-5 mx-0" *ngIf="showPrisonerCard">
    <app-prisoner-detail class="w-100 p-0 m-0 h-100" [selectedPrisonerData]="selectedPrisoner"></app-prisoner-detail>
  </div>
</div>
<!-- <div class="back-btn d-flex  m-2">
  <button class="btn btn-primary float-start" type="button" (click)="goBack()">
    رجوع</button>
</div> -->