.hide {
  display: none;
}
.show {
  display: block;
}

.home-card {
  width: 250px !important;
  height: 200px !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.disabledLink {
  cursor: default !important;
  color: #8a94ad !important;
}