<!--Add new Category button-->
<div class="row gx-6 gy-3 mb-4 align-items-center">
  <div class="col-auto">
    <h2 class="mb-0">
      PRISON CATEGORIES<span class="fw-normal text-body-tertiary ms-3">(32)</span>
    </h2>
  </div>
  <div class="col-auto">
    <a class="btn btn-primary btn-lg px-5" href="#"><i class="fa-solid fa-plus me-2"></i>Add new prison</a>
  </div>
</div>
<!-- PrisonCategory1 -->
<div class="card card-notification shadow-none main-container1">

  <div class="prison-capacity d-flex flex-column p-2">
    <h1>Category 1</h1>
    <h3><span class="bi far fa-building me-2"></span>Total Wards : 250</h3>
    <h3><span class="bi far fa-calendar-alt me-2"></span>Total Cells : 500</h3>
    <h3><span class="bi far fa-eye me-2"></span>Total Guards : 150</h3>
  </div>
  <hr>
  <div class=" card mb-3 card-notification p-3 prison-category1">
    <div class="wards-list">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-4 g-3 ">
        <div class="col" *ngFor="let prison of prisonsOne">
          <div class="card text-white card-notification shadow-none h-100" style="background-color: #cbd0dd;">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <h4 class="mb-2 line-clamp-1 lh-sm flex-1 me-5 ">
                  {{ prison.CategoryName }}
                </h4>


              </div>

              <div class="badge">
                <span class="badge bg-success mb-1 fs-0.1">Success</span>
              </div>


              <div class="d-flex align-items-center mb-1">
                <span class="fa-solid fa-user  text-body-tertiary  fw-extra-bold"></span>
                <p class="fw-bold mb-0 text-truncate ">
                  GROUP :
                  <span class="fw-semibold text-primary">
                    {{ prison.CategoryName }}</span>
                </p>
              </div>
              <br />

              <div class="d-flex align-items-center mb-4">

                <p class="fw-bold mb-0 lh-1">
                  CAPACITY :
                  <span class="ms-1 text-body-emphasis">{{ prison.TotalCapacity }} Cells</span>
                </p>
                <!-- <span class="capacity bi-aspect-ratio fs-5"></span> -->
              </div>
              <div class="d-flex justify-content-between text-body-tertiary fw-semibold">
                <p class="mb-2">CELLS OCCUPIED</p>
                <p class="mb-2 text-body-emphasis">{{ prison.Progress }}</p>
              </div>
              <!-- <div class="progress bg-success-subtle">
                <div class="progress-bar bg-warning rounded bg-primary" id="progressBar" role="progressbar"
                  aria-label="Success example" [style.width]="calculateProgressBarWidth(prison.Progress) + '%'"
                  [attr.aria-valuenow]="prison.Progress" aria-valuemin="0" aria-valuemax="100"></div>
              </div> -->
              <div class="progress mb-3" style="height:15px">
                <div class="progress-bar bg-warning" role="progressbar"
                  [style.width]="calculateProgressBarWidth(prison.Progress) + '%'"
                  [attr.aria-valuenow]="prison.Progress" aria-valuemin="0" aria-valuemax="100">{{prison.Progress}}%
                </div>
              </div>

              <div class="d-flex align-items-center mt-4">
                <p class="mb-0 fw-bold fs-9">
                  Created :<span class="fw-semibold text-body-tertiary text-opactity-85 ms-1">
                    17th Nov. 2020</span>
                </p>
              </div>
              <div class="d-flex align-items-center m-2">
                <p class="mb-0 fw-bold fs-9">
                  isActive :
                  <span class="fw-semibold text-body-tertiary text-opactity-85 ms-1">
                    yes</span>
                </p>
              </div>
              <div class="mt-lg-3 mt-xl-0 align-items-center">
                <i class="fa-solid fa-list-check me-1"></i>
                <p class="d-inline-block fw-bold mb-0">
                  {{ prison.OverallPrisoners
                  }}<span class="fw-normal"> OVERALL PRISONERS</span>
                </p>
              </div>
              <br>
              <div class="view-btn d-flex justify-content-evenly">
                <button class="btn btn-primary btn-lg" (click)="onView(prison.CategoryName)">
                  View
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>
<!-- PrisonCategory2 -->
<div class="card card-notification shadow-none main-container2 mt-5">

  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-6">
          <div class="prison-capacity d-flex flex-column p-2">
            <h1>Category 2</h1>
            <h3><span class="bi far fa-building me-2"></span>Total Wards : 250</h3>
            <h3><span class="bi far fa-calendar-alt me-2"></span>Total Cells : 500</h3>
            <h3><span class="bi far fa-eye me-2"></span>Total Guards : 150</h3>
          </div>
          <hr>
          <div class=" card mb-3 card-notification prison-category2 p-3">
            <div class="wards-list">
              <div class="row g-2 ">
                <div class="col-6" *ngFor="let prison of prisonsTwo">
                  <div class="card card-notification shadow-none " style="background-color: #cbd0dd;">
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <h4 class="mb-2 line-clamp-1 lh-sm flex-1 me-5 ">
                          {{ prison.CategoryName }}
                        </h4>


                      </div>

                      <div class="badge">
                        <span class="badge bg-success mb-1 fs-0.1">Success</span>
                      </div>


                      <div class="d-flex align-items-center mb-1">
                        <span class="fa-solid fa-user  text-body-tertiary  fw-extra-bold"></span>
                        <p class="fw-bold mb-0 text-truncate ">
                          GROUP :
                          <span class="fw-semibold text-primary">
                            {{ prison.CategoryName }}</span>
                        </p>
                      </div>
                      <br />

                      <div class="d-flex align-items-center mb-4">

                        <p class="fw-bold mb-0 lh-1">
                          CAPACITY :
                          <span class="ms-1 text-body-emphasis">{{ prison.TotalCapacity }} Cells</span>
                        </p>
                        <!-- <span class="capacity bi-aspect-ratio fs-5"></span> -->
                      </div>
                      <div class="d-flex justify-content-between text-body-tertiary fw-semibold">
                        <p class="mb-2">CELLS OCCUPIED</p>
                        <p class="mb-2 text-body-emphasis">{{ prison.Progress }}</p>
                      </div>
                      <!-- <div class="progress bg-success-subtle">
                        <div class="progress-bar bg-warning rounded bg-primary" id="progressBar" role="progressbar"
                          aria-label="Success example" [style.width]="calculateProgressBarWidth(prison.Progress) + '%'"
                          [attr.aria-valuenow]="prison.Progress" aria-valuemin="0" aria-valuemax="100"></div>
                      </div> -->
                      <div class="progress mb-3" style="height:15px">
                        <div class="progress-bar bg-warning" role="progressbar"
                          [style.width]="calculateProgressBarWidth(prison.Progress) + '%'"
                          [attr.aria-valuenow]="prison.Progress" aria-valuemin="0" aria-valuemax="100">
                          {{prison.Progress}}%
                        </div>
                      </div>

                      <div class="d-flex align-items-center mt-4">
                        <p class="mb-0 fw-bold fs-9">
                          Created :<span class="fw-semibold text-body-tertiary text-opactity-85 ms-1">
                            17th Nov. 2020</span>
                        </p>
                      </div>
                      <div class="d-flex align-items-center m-2">
                        <p class="mb-0 fw-bold fs-9">
                          isActive :
                          <span class="fw-semibold text-body-tertiary text-opactity-85 ms-1">
                            yes</span>
                        </p>
                      </div>
                      <div class="mt-lg-3 mt-xl-0 align-items-center">
                        <i class="fa-solid fa-list-check me-1"></i>
                        <p class="d-inline-block fw-bold mb-0">
                          {{ prison.OverallPrisoners
                          }}<span class="fw-normal"> OVERALL PRISONERS</span>
                        </p>
                      </div>
                      <br>
                      <div class="view-btn d-flex justify-content-evenly">
                        <button class="btn btn-primary btn-lg" (click)="onView(prison.CategoryName)">
                          View
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>


            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="prison-capacity d-flex flex-column p-2">
            <h1>Category 2</h1>
            <h3><span class="bi far fa-building me-2"></span>Total Wards : 250</h3>
            <h3><span class="bi far fa-calendar-alt me-2"></span>Total Cells : 500</h3>
            <h3><span class="bi far fa-eye me-2"></span>Total Guards : 150</h3>
          </div>
          <hr>
          <div class=" card mb-3 card-notification prison-category2 p-3">
            <div class="wards-list">
              <div class="row g-2 ">
                <div class="col-6" *ngFor="let prison of prisonsTwo">
                  <div class="card card-notification shadow-none" style="background-color: #cbd0dd;">
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <h4 class="mb-2 line-clamp-1 lh-sm flex-1 me-5 ">
                          {{ prison.CategoryName }}
                        </h4>


                      </div>

                      <div class="badge">
                        <span class="badge bg-success mb-1 fs-0.1">Success</span>
                      </div>


                      <div class="d-flex align-items-center mb-1">
                        <span class="fa-solid fa-user  text-body-tertiary  fw-extra-bold"></span>
                        <p class="fw-bold mb-0 text-truncate ">
                          GROUP :
                          <span class="fw-semibold text-primary">
                            {{ prison.CategoryName }}</span>
                        </p>
                      </div>
                      <br />

                      <div class="d-flex align-items-center mb-4">

                        <p class="fw-bold mb-0 lh-1">
                          CAPACITY :
                          <span class="ms-1 text-body-emphasis">{{ prison.TotalCapacity }} Cells</span>
                        </p>
                        <!-- <span class="capacity bi-aspect-ratio fs-5"></span> -->
                      </div>
                      <div class="d-flex justify-content-between text-body-tertiary fw-semibold">
                        <p class="mb-2">CELLS OCCUPIED</p>
                        <p class="mb-2 text-body-emphasis">{{ prison.Progress }}</p>
                      </div>
                      <!-- <div class="progress bg-success-subtle">
                        <div class="progress-bar bg-warning rounded bg-primary" id="progressBar" role="progressbar"
                          aria-label="Success example" [style.width]="calculateProgressBarWidth(prison.Progress) + '%'"
                          [attr.aria-valuenow]="prison.Progress" aria-valuemin="0" aria-valuemax="100"></div>
                      </div> -->
                      <div class="progress mb-3" style="height:15px">
                        <div class="progress-bar bg-warning" role="progressbar"
                          [style.width]="calculateProgressBarWidth(prison.Progress) + '%'"
                          [attr.aria-valuenow]="prison.Progress" aria-valuemin="0" aria-valuemax="100">
                          {{prison.Progress}}%
                        </div>
                      </div>

                      <div class="d-flex align-items-center mt-4">
                        <p class="mb-0 fw-bold fs-9">
                          Created :<span class="fw-semibold text-body-tertiary text-opactity-85 ms-1">
                            17th Nov. 2020</span>
                        </p>
                      </div>
                      <div class="d-flex align-items-center m-2">
                        <p class="mb-0 fw-bold fs-9">
                          isActive :
                          <span class="fw-semibold text-body-tertiary text-opactity-85 ms-1">
                            yes</span>
                        </p>
                      </div>
                      <div class="mt-lg-3 mt-xl-0 align-items-center">
                        <i class="fa-solid fa-list-check me-1"></i>
                        <p class="d-inline-block fw-bold mb-0">
                          {{ prison.OverallPrisoners
                          }}<span class="fw-normal"> OVERALL PRISONERS</span>
                        </p>
                      </div>
                      <br>
                      <div class="view-btn d-flex justify-content-evenly">
                        <button class="btn btn-primary btn-lg" (click)="onView(prison.CategoryName)">
                          View
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





</div>
<!-- PrisonCategory3 -->
<div class="card card-notification shadow-none main-container3 mt-5">

  <div class="prison-capacity d-flex flex-column p-2">
    <h1>Category 3</h1>
    <h3><span class="bi far fa-building me-2"></span>Total Wards : 250</h3>
    <h3><span class="bi far fa-calendar-alt me-2"></span>Total Cells : 500</h3>
    <h3><span class="bi far fa-eye me-2"></span>Total Guards : 150</h3>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <div class=" card mb-3 card-notification prison-category3 p-3">
        <div class="wards-list">
          <div class="row g-3 ">
            <div class="col" *ngFor="let prison of prisonsThree">
              <div class="card card-notification shadow-none " style="background-color: #cbd0dd;">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <h4 class="mb-2 line-clamp-1 lh-sm flex-1 me-5 ">
                      {{ prison.CategoryName }}
                    </h4>


                  </div>

                  <div class="badge">
                    <span class="badge bg-success mb-1 fs-0.1">Success</span>
                  </div>


                  <div class="d-flex align-items-center mb-1">
                    <span class="fa-solid fa-user  text-body-tertiary  fw-extra-bold"></span>
                    <p class="fw-bold mb-0 text-truncate ">
                      GROUP :
                      <span class="fw-semibold text-primary">
                        {{ prison.CategoryName }}</span>
                    </p>
                  </div>
                  <br />

                  <div class="d-flex align-items-center mb-4">

                    <p class="fw-bold mb-0 lh-1">
                      CAPACITY :
                      <span class="ms-1 text-body-emphasis">{{ prison.TotalCapacity }} Cells</span>
                    </p>
                    <!-- <span class="capacity bi-aspect-ratio fs-5"></span> -->
                  </div>
                  <div class="d-flex justify-content-between text-body-tertiary fw-semibold">
                    <p class="mb-2">CELLS OCCUPIED</p>
                    <p class="mb-2 text-body-emphasis">{{ prison.Progress }}</p>
                  </div>
                  <!-- <div class="progress bg-success-subtle">
                  <div class="progress-bar bg-warning rounded bg-primary" id="progressBar" role="progressbar"
                    aria-label="Success example" [style.width]="calculateProgressBarWidth(prison.Progress) + '%'"
                    [attr.aria-valuenow]="prison.Progress" aria-valuemin="0" aria-valuemax="100"></div>
                </div> -->
                  <div class="progress mb-3" style="height:15px">
                    <div class="progress-bar bg-warning" role="progressbar"
                      [style.width]="calculateProgressBarWidth(prison.Progress) + '%'"
                      [attr.aria-valuenow]="prison.Progress" aria-valuemin="0" aria-valuemax="100">{{prison.Progress}}%
                    </div>
                  </div>

                  <div class="d-flex align-items-center mt-4">
                    <p class="mb-0 fw-bold fs-9">
                      Created :<span class="fw-semibold text-body-tertiary text-opactity-85 ms-1">
                        17th Nov. 2020</span>
                    </p>
                  </div>
                  <div class="d-flex align-items-center m-2">
                    <p class="mb-0 fw-bold fs-9">
                      isActive :
                      <span class="fw-semibold text-body-tertiary text-opactity-85 ms-1">
                        yes</span>
                    </p>
                  </div>
                  <div class="mt-lg-3 mt-xl-0 align-items-center">
                    <i class="fa-solid fa-list-check me-1"></i>
                    <p class="d-inline-block fw-bold mb-0">
                      {{ prison.OverallPrisoners
                      }}<span class="fw-normal"> OVERALL PRISONERS</span>
                    </p>
                  </div>
                  <br>
                  <div class="view-btn d-flex justify-content-evenly">
                    <button class="btn btn-primary btn-lg" (click)="onView(prison.CategoryName)">
                      View
                    </button>
                  </div>
                </div>
              </div>
            </div>

          </div>


        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class=" card mb-3 card-notification prison-category3 p-3">
        <div class="wards-list">
          <div class="row g-3 ">
            <div class="col" *ngFor="let prison of prisonsThree">
              <div class="card card-notification shadow-none" style="background-color: #cbd0dd;">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <h4 class="mb-2 line-clamp-1 lh-sm flex-1 me-5 ">
                      {{ prison.CategoryName }}
                    </h4>


                  </div>

                  <div class="badge">
                    <span class="badge bg-success mb-1 fs-0.1">Success</span>
                  </div>


                  <div class="d-flex align-items-center mb-1">
                    <span class="fa-solid fa-user  text-body-tertiary  fw-extra-bold"></span>
                    <p class="fw-bold mb-0 text-truncate ">
                      GROUP :
                      <span class="fw-semibold text-primary">
                        {{ prison.CategoryName }}</span>
                    </p>
                  </div>
                  <br />

                  <div class="d-flex align-items-center mb-4">

                    <p class="fw-bold mb-0 lh-1">
                      CAPACITY :
                      <span class="ms-1 text-body-emphasis">{{ prison.TotalCapacity }} Cells</span>
                    </p>
                    <!-- <span class="capacity bi-aspect-ratio fs-5"></span> -->
                  </div>
                  <div class="d-flex justify-content-between text-body-tertiary fw-semibold">
                    <p class="mb-2">CELLS OCCUPIED</p>
                    <p class="mb-2 text-body-emphasis">{{ prison.Progress }}</p>
                  </div>
                  <!-- <div class="progress bg-success-subtle">
                  <div class="progress-bar bg-warning rounded bg-primary" id="progressBar" role="progressbar"
                    aria-label="Success example" [style.width]="calculateProgressBarWidth(prison.Progress) + '%'"
                    [attr.aria-valuenow]="prison.Progress" aria-valuemin="0" aria-valuemax="100"></div>
                </div> -->
                  <div class="progress mb-3" style="height:15px">
                    <div class="progress-bar bg-warning" role="progressbar"
                      [style.width]="calculateProgressBarWidth(prison.Progress) + '%'"
                      [attr.aria-valuenow]="prison.Progress" aria-valuemin="0" aria-valuemax="100">{{prison.Progress}}%
                    </div>
                  </div>

                  <div class="d-flex align-items-center mt-4">
                    <p class="mb-0 fw-bold fs-9">
                      Created :<span class="fw-semibold text-body-tertiary text-opactity-85 ms-1">
                        17th Nov. 2020</span>
                    </p>
                  </div>
                  <div class="d-flex align-items-center m-2">
                    <p class="mb-0 fw-bold fs-9">
                      isActive :
                      <span class="fw-semibold text-body-tertiary text-opactity-85 ms-1">
                        yes</span>
                    </p>
                  </div>
                  <div class="mt-lg-3 mt-xl-0 align-items-center">
                    <i class="fa-solid fa-list-check me-1"></i>
                    <p class="d-inline-block fw-bold mb-0">
                      {{ prison.OverallPrisoners
                      }}<span class="fw-normal"> OVERALL PRISONERS</span>
                    </p>
                  </div>
                  <br>
                  <div class="view-btn d-flex justify-content-evenly">
                    <button class="btn btn-primary btn-lg" (click)="onView(prison.CategoryName)">
                      View
                    </button>
                  </div>
                </div>
              </div>
            </div>

          </div>


        </div>
      </div>
    </div>
  </div>

</div>
<!-- PrisonCategory4 -->
<div class="card card-notification shadow-none main-container4 mt-5">

  <div class="prison-capacity d-flex flex-column p-2">
    <h1>Category 4</h1>
    <h3><span class="bi far fa-building me-2"></span>Total Wards : 250</h3>
    <h3><span class="bi far fa-calendar-alt me-2"></span>Total Cells : 500</h3>
    <h3><span class="bi far fa-eye me-2"></span>Total Guards : 150</h3>
  </div>
  <hr>
  <div class="card mb-3 card-notification prison-category4 p-3">
    <div class="wards-list">
      <div class="row g-2 ">
        <div class="col-2" *ngFor="let prison of prisonsOne">
          <div class="card card-notification shadow-none w-100 h-100" style="background-color: #cbd0dd;">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <h4 class="mb-2 line-clamp-1 lh-sm flex-1 me-5 ">
                  {{ prison.CategoryName }}
                </h4>


              </div>

              <div class="badge">
                <span class="badge bg-success mb-1 fs-0.1">Success</span>
              </div>


              <div class="d-flex align-items-center mb-1">
                <span class="fa-solid fa-user  text-body-tertiary  fw-extra-bold"></span>
                <p class="fw-bold mb-0 text-truncate ">
                  GROUP :
                  <span class="fw-semibold text-primary">
                    {{ prison.CategoryName }}</span>
                </p>
              </div>
              <br />

              <div class="d-flex align-items-center mb-4">

                <p class="fw-bold mb-0 lh-1">
                  CAPACITY :
                  <span class="ms-1 text-body-emphasis">{{ prison.TotalCapacity }} Cells</span>
                </p>
                <!-- <span class="capacity bi-aspect-ratio fs-5"></span> -->
              </div>
              <div class="d-flex justify-content-between text-body-tertiary fw-semibold">
                <p class="mb-2">CELLS OCCUPIED</p>
                <p class="mb-2 text-body-emphasis">{{ prison.Progress }}</p>
              </div>
              <!-- <div class="progress bg-success-subtle">
                <div class="progress-bar bg-warning rounded bg-primary" id="progressBar" role="progressbar"
                  aria-label="Success example" [style.width]="calculateProgressBarWidth(prison.Progress) + '%'"
                  [attr.aria-valuenow]="prison.Progress" aria-valuemin="0" aria-valuemax="100"></div>
              </div> -->
              <!-- <div class="progress mb-3" style="height:15px">
                <div class="progress-bar bg-warning" role="progressbar"
                  [style.width]="calculateProgressBarWidth(prison.Progress) + '%'"
                  [attr.aria-valuenow]="prison.Progress" aria-valuemin="0" aria-valuemax="100">{{prison.Progress}}%
                </div>
              </div> -->

              <div class="d-flex align-items-center mt-4">
                <p class="mb-0 fw-bold fs-9">
                  Created :<span class="fw-semibold text-body-tertiary text-opactity-85 ms-1">
                    17th Nov. 2020</span>
                </p>
              </div>
              <div class="d-flex align-items-center m-2">
                <p class="mb-0 fw-bold fs-9">
                  isActive :
                  <span class="fw-semibold text-body-tertiary text-opactity-85 ms-1">
                    yes</span>
                </p>
              </div>
              <div class="mt-lg-3 mt-xl-0 align-items-center">
                <i class="fa-solid fa-list-check me-1"></i>
                <p class="d-inline-block fw-bold mb-0">
                  {{ prison.OverallPrisoners
                  }}<span class="fw-normal"> OVERALL PRISONERS</span>
                </p>
              </div>
              <br>
              <div class="view-btn d-flex justify-content-evenly">
                <button class="btn btn-primary btn-lg" (click)="onView(prison.CategoryName)">
                  View
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>
<!-- PrisonCategory5 -->
<div class="card card-notification shadow-none main-container5 mt-5">

  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-6">
          <div class="prison-capacity d-flex flex-column p-2">
            <h1>Category 5</h1>
            <h3><span class="bi far fa-building me-2"></span>Total Wards : 250</h3>
            <h3><span class="bi far fa-calendar-alt me-2"></span>Total Cells : 500</h3>
            <h3><span class="bi far fa-eye me-2"></span>Total Guards : 150</h3>
          </div>
          <hr>
          <div class=" card mb-3 card-notification prison-category5 p-3">
            <div class="wards-list">
              <div class="row g-2 ">
                <div class="col-6" *ngFor="let prison of prisonsTwo">
                  <div class="card card-notification shadow-none" style="background-color: #cbd0dd;">
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <h4 class="mb-2 line-clamp-1 lh-sm flex-1 me-5 ">
                          {{ prison.CategoryName }}
                        </h4>


                      </div>

                      <div class="badge">
                        <span class="badge bg-success mb-1 fs-0.1">Success</span>
                      </div>


                      <div class="d-flex align-items-center mb-1">
                        <span class="fa-solid fa-user  text-body-tertiary  fw-extra-bold"></span>
                        <p class="fw-bold mb-0 text-truncate ">
                          GROUP :
                          <span class="fw-semibold text-primary">
                            {{ prison.CategoryName }}</span>
                        </p>
                      </div>
                      <br />

                      <div class="d-flex align-items-center mb-4">

                        <p class="fw-bold mb-0 lh-1">
                          CAPACITY :
                          <span class="ms-1 text-body-emphasis">{{ prison.TotalCapacity }} Cells</span>
                        </p>
                        <!-- <span class="capacity bi-aspect-ratio fs-5"></span> -->
                      </div>
                      <div class="d-flex justify-content-between text-body-tertiary fw-semibold">
                        <p class="mb-2">CELLS OCCUPIED</p>
                        <p class="mb-2 text-body-emphasis">{{ prison.Progress }}</p>
                      </div>
                      <!-- <div class="progress bg-success-subtle">
                        <div class="progress-bar bg-warning rounded bg-primary" id="progressBar" role="progressbar"
                          aria-label="Success example" [style.width]="calculateProgressBarWidth(prison.Progress) + '%'"
                          [attr.aria-valuenow]="prison.Progress" aria-valuemin="0" aria-valuemax="100"></div>
                      </div> -->
                      <div class="progress mb-3" style="height:15px">
                        <div class="progress-bar bg-warning" role="progressbar"
                          [style.width]="calculateProgressBarWidth(prison.Progress) + '%'"
                          [attr.aria-valuenow]="prison.Progress" aria-valuemin="0" aria-valuemax="100">
                          {{prison.Progress}}%
                        </div>
                      </div>

                      <div class="d-flex align-items-center mt-4">
                        <p class="mb-0 fw-bold fs-9">
                          Created :<span class="fw-semibold text-body-tertiary text-opactity-85 ms-1">
                            17th Nov. 2020</span>
                        </p>
                      </div>
                      <div class="d-flex align-items-center m-2">
                        <p class="mb-0 fw-bold fs-9">
                          isActive :
                          <span class="fw-semibold text-body-tertiary text-opactity-85 ms-1">
                            yes</span>
                        </p>
                      </div>
                      <div class="mt-lg-3 mt-xl-0 align-items-center">
                        <i class="fa-solid fa-list-check me-1"></i>
                        <p class="d-inline-block fw-bold mb-0">
                          {{ prison.OverallPrisoners
                          }}<span class="fw-normal"> OVERALL PRISONERS</span>
                        </p>
                      </div>
                      <br>
                      <div class="view-btn d-flex justify-content-evenly">
                        <button class="btn btn-primary btn-lg" (click)="onView(prison.CategoryName)">
                          View
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>


            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="prison-capacity d-flex flex-column p-2">
            <h1>Category 5</h1>
            <h3><span class="bi far fa-building me-2"></span>Total Wards : 250</h3>
            <h3><span class="bi far fa-calendar-alt me-2"></span>Total Cells : 500</h3>
            <h3><span class="bi far fa-eye me-2"></span>Total Guards : 150</h3>
          </div>
          <hr>
          <div class=" card mb-3 card-notification prison-category5 p-3">
            <div class="wards-list">
              <div class="row g-2 ">
                <div class="col-6" *ngFor="let prison of prisonsTwo">
                  <div class="card card-notification shadow-none" style="background-color: #cbd0dd;">
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <h4 class="mb-2 line-clamp-1 lh-sm flex-1 me-5 ">
                          {{ prison.CategoryName }}
                        </h4>


                      </div>

                      <div class="badge">
                        <span class="badge bg-success mb-1 fs-0.1">Success</span>
                      </div>


                      <div class="d-flex align-items-center mb-1">
                        <span class="fa-solid fa-user  text-body-tertiary  fw-extra-bold"></span>
                        <p class="fw-bold mb-0 text-truncate ">
                          GROUP :
                          <span class="fw-semibold text-primary">
                            {{ prison.CategoryName }}</span>
                        </p>
                      </div>
                      <br />

                      <div class="d-flex align-items-center mb-4">

                        <p class="fw-bold mb-0 lh-1">
                          CAPACITY :
                          <span class="ms-1 text-body-emphasis">{{ prison.TotalCapacity }} Cells</span>
                        </p>
                        <!-- <span class="capacity bi-aspect-ratio fs-5"></span> -->
                      </div>
                      <div class="d-flex justify-content-between text-body-tertiary fw-semibold">
                        <p class="mb-2">CELLS OCCUPIED</p>
                        <p class="mb-2 text-body-emphasis">{{ prison.Progress }}</p>
                      </div>
                      <!-- <div class="progress bg-success-subtle">
                        <div class="progress-bar bg-warning rounded bg-primary" id="progressBar" role="progressbar"
                          aria-label="Success example" [style.width]="calculateProgressBarWidth(prison.Progress) + '%'"
                          [attr.aria-valuenow]="prison.Progress" aria-valuemin="0" aria-valuemax="100"></div>
                      </div> -->
                      <div class="progress mb-3" style="height:15px">
                        <div class="progress-bar bg-warning" role="progressbar"
                          [style.width]="calculateProgressBarWidth(prison.Progress) + '%'"
                          [attr.aria-valuenow]="prison.Progress" aria-valuemin="0" aria-valuemax="100">
                          {{prison.Progress}}%
                        </div>
                      </div>

                      <div class="d-flex align-items-center mt-4">
                        <p class="mb-0 fw-bold fs-9">
                          Created :<span class="fw-semibold text-body-tertiary text-opactity-85 ms-1">
                            17th Nov. 2020</span>
                        </p>
                      </div>
                      <div class="d-flex align-items-center m-2">
                        <p class="mb-0 fw-bold fs-9">
                          isActive :
                          <span class="fw-semibold text-body-tertiary text-opactity-85 ms-1">
                            yes</span>
                        </p>
                      </div>
                      <div class="mt-lg-3 mt-xl-0 align-items-center">
                        <i class="fa-solid fa-list-check me-1"></i>
                        <p class="d-inline-block fw-bold mb-0">
                          {{ prison.OverallPrisoners
                          }}<span class="fw-normal"> OVERALL PRISONERS</span>
                        </p>
                      </div>
                      <br>
                      <div class="view-btn d-flex justify-content-evenly">
                        <button class="btn btn-primary btn-lg" (click)="onView(prison.CategoryName)">
                          View
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





</div>
<!-- PrisonCategory6 -->
<div class="card card-notification shadow-none main-container6 mt-5 d-flex align-items-center">

  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <div class="prison-capacity d-flex flex-column p-2">
            <h1>Category 6</h1>
            <h3><span class="bi far fa-building me-2"></span>Total Wards : 250</h3>
            <h3><span class="bi far fa-calendar-alt me-2"></span>Total Cells : 500</h3>
            <h3><span class="bi far fa-eye me-2"></span>Total Guards : 150</h3>
          </div>
          <hr>
          <div class=" card mb-3 card-notification prison-category6 p-3">
            <div class="wards-list">
              <div class="row g-3 ">
                <div class="col-6" *ngFor="let prison of prisonsTwo">
                  <div class="card card-notification shadow-none" style="background-color: #cbd0dd;">
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <h4 class="mb-2 line-clamp-1 lh-sm flex-1 me-5 ">
                          {{ prison.CategoryName }}
                        </h4>


                      </div>

                      <div class="badge">
                        <span class="badge bg-success mb-1 fs-0.1">Success</span>
                      </div>


                      <div class="d-flex align-items-center mb-1">
                        <span class="fa-solid fa-user  text-body-tertiary  fw-extra-bold"></span>
                        <p class="fw-bold mb-0 text-truncate ">
                          GROUP :
                          <span class="fw-semibold text-primary">
                            {{ prison.CategoryName }}</span>
                        </p>
                      </div>
                      <br />

                      <div class="d-flex align-items-center mb-4">

                        <p class="fw-bold mb-0 lh-1">
                          CAPACITY :
                          <span class="ms-1 text-body-emphasis">{{ prison.TotalCapacity }} Cells</span>
                        </p>
                        <!-- <span class="capacity bi-aspect-ratio fs-5"></span> -->
                      </div>
                      <div class="d-flex justify-content-between text-body-tertiary fw-semibold">
                        <p class="mb-2">CELLS OCCUPIED</p>
                        <p class="mb-2 text-body-emphasis">{{ prison.Progress }}</p>
                      </div>
                      <!-- <div class="progress bg-success-subtle">
                          <div class="progress-bar bg-warning rounded bg-primary" id="progressBar" role="progressbar"
                            aria-label="Success example" [style.width]="calculateProgressBarWidth(prison.Progress) + '%'"
                            [attr.aria-valuenow]="prison.Progress" aria-valuemin="0" aria-valuemax="100"></div>
                        </div> -->
                      <div class="progress mb-3" style="height:15px">
                        <div class="progress-bar bg-warning" role="progressbar"
                          [style.width]="calculateProgressBarWidth(prison.Progress) + '%'"
                          [attr.aria-valuenow]="prison.Progress" aria-valuemin="0" aria-valuemax="100">
                          {{prison.Progress}}%
                        </div>
                      </div>

                      <div class="d-flex align-items-center mt-4">
                        <p class="mb-0 fw-bold fs-9">
                          Created :<span class="fw-semibold text-body-tertiary text-opactity-85 ms-1">
                            17th Nov. 2020</span>
                        </p>
                      </div>
                      <div class="d-flex align-items-center m-2">
                        <p class="mb-0 fw-bold fs-9">
                          isActive :
                          <span class="fw-semibold text-body-tertiary text-opactity-85 ms-1">
                            yes</span>
                        </p>
                      </div>
                      <div class="mt-lg-3 mt-xl-0 align-items-center">
                        <i class="fa-solid fa-list-check me-1"></i>
                        <p class="d-inline-block fw-bold mb-0">
                          {{ prison.OverallPrisoners
                          }}<span class="fw-normal"> OVERALL PRISONERS</span>
                        </p>
                      </div>
                      <br>
                      <div class="view-btn d-flex justify-content-evenly">
                        <button class="btn btn-primary btn-lg" (click)="onView(prison.CategoryName)">
                          View
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>


            </div>
          </div>
        </div>

      </div>
    </div>
  </div>





</div>