<div class="prisondata-container d-flex flex-wrap justify-content-around gap-5">
  <div class="card col-3 p-5" >
    <div class="card-cells">
      <h5 class="card-title">CELLS</h5>
      <br>
      <p class="card-text">
        Here is the example of the Multiple Container Sortable feature of the
      </p>
      <button class="btn btn-primary" (click)="onView($event)">View CELLS</button>
    </div>
  </div>
  <div class="card col-3 p-5"  style="max-width: 20rem">
    <div class="card-prisoners">
      <h5 class="card-title">Prisoners</h5>
      <br>
      <p class="card-text">
        Here is the example of the Multiple Container Sortable feature of the
      </p>
      <button class="btn btn-primary">View Prisoners</button>
    </div>
  </div>
  <div class="card col-3 p-5"  style="max-width: 20rem">
    <div class="card-guards">
      <h5 class="card-title"> Guards</h5>
      <br>
      <p class="card-text">
        Here is the example of the Multiple Container Sortable feature of the
      </p>
      <button class="btn btn-primary">View Guards</button>
    </div>
  </div>
  <div class="card col-3 p-5" style="max-width: 20rem">
    <div class="card-admins">
      <h5 class="card-title"> Admins</h5>
      <br>
      <p class="card-text">
        Here is the example of the Multiple Container Sortable feature of the
      </p>
      <button class="btn btn-primary">View ADMINS</button>
    </div>
  </div>
</div>



