<div class="card border h-100  shadow-none">
    <div class="card-header  border-bottom bg-body">
        بيانات السجين
    </div>
    <div class="card-body d-flex">
        <div class="infoDiv" style="width: 75% !important">
            <table class="table fs--1 mb-0 overflow-hidden">
                <tbody class="col-12">
                    <tr>
                        <td class="text-black prisonDashboardtd">الرقم المدني</td>
                        <td class="text-primary">{{ selectedPrisonerData?.RowsJeWork.CivilId
                            }}</td>
                    </tr>
                    <tr>
                        <td class="text-black prisonDashboardtd">رقم المرجع</td>
                        <td class="text-primary">
                            {{ selectedPrisonerData?.RowsJeWork.Number }}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-black prisonDashboardtd">الإسم</td>
                        <td class="text-primary">
                            {{ selectedPrisonerData?.RowsJeWork.ConcatArabicName }}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-black prisonDashboardtd">التهمة</td>
                        <td class="text-primary">
                            {{ selectedPrisonerData?.RowsCrimeType?.Description }}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-black prisonDashboardtd">رقم القضية</td>
                        <td class="text-primary">
                            {{ selectedPrisonerData?.RowsCase.CaseNumber }}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-black prisonDashboardtd">تفاصيل القضية</td>
                        <td class="text-primary">
                            {{ selectedPrisonerData?.RowsCaseType.Description }}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-black prisonDashboardtd">سجن</td>
                        <td class="text-primary">
                            {{ selectedPrisonerData?.RowsJailPublicOrganisation.Name }}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-black prisonDashboardtd">رقم القطاع </td>
                        <td class="text-primary">
                            {{ selectedPrisonerData?.RowsJailSentence.SectionNumber }}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-black prisonDashboardtd">رقم الجناح</td>
                        <td class="text-primary">
                            {{ selectedPrisonerData?.RowsJailSentence.WardSectionNumber }}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-black prisonDashboardtd">الجنسية</td>
                        <td class="text-primary">
                            {{ selectedPrisonerData?.RowsNationality.ArabicDescription }}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-black prisonDashboardtd">تاريخ السجن</td>
                        <td class="text-primary">
                            {{ selectedPrisonerData?.RowsJailSentence.StartDate | datetimeFormat }}
                        </td>
                    </tr>

                    <tr>
                        <td class="text-black prisonDashboardtd">المدة</td>
                        <td class="text-primary">
                            {{ selectedPrisonerData?.RowsJailSentence.DurationYears
                            }} سنة -
                            {{ selectedPrisonerData?.RowsJailSentence.DurationMonths
                            }} شهر -
                            {{ selectedPrisonerData?.RowsJailSentence.DurationDays
                            }} يوم

                        </td>
                    </tr>

                    <tr>
                        <td class="text-black prisonDashboardtd">تاريخ الخروج المتوقع</td>
                        <td class="text-primary">
                            {{ selectedPrisonerData?.RowsJailSentence.ExpectedEndDate | datetimeFormat
                            }}
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <!-- photo  -->
        <div class="mt-3" style="
          width: 25% !important;
          text-align: center !important;
          padding-top: 0.5rem !important;
        ">
            <div class="row h-50 m-auto imgDiv" *ngIf="personPhoto != null && personPhoto != ''">
                <img class="position-relative img-profile p-0" [src]="personPhoto" />
            </div>
        </div>
    </div>

</div>

<!-- <div class="back-btn d-flex  m-2">
    <button class="btn btn-primary float-start" type="button" (click)="goBack()">
        رجوع</button>
</div> -->