<div class="card border h-100  shadow-none">
    <div class="card-header  border-bottom bg-body">
        بيانات السجين
    </div>
    <div class="card-body d-flex">
        <div class="infoDiv" style="width: 75% !important">
            <table class="table fs--1 mb-0 overflow-hidden">
                <tbody class="col-12">

                    <tr>
                        <td class="text-black prisonDashboardtd">CivilId.AR</td>
                        <td class="text-primary">{{ PrisonerByCivilId?.CivilId}}</td>
                    </tr>
                    <tr>
                        <td class="text-black prisonDashboardtd">Name.AR</td>
                        <td class="text-primary">{{ PrisonerByCivilId?.Name}}</td>
                    </tr>
                    <tr>
                        <td class="text-black prisonDashboardtd">Nationality.AR</td>
                        <td class="text-primary">{{ PrisonerByCivilId?.Nationality}}</td>
                    </tr>
                    <tr>
                        <td class="text-black prisonDashboardtd">JailID.AR</td>
                        <td class="text-primary">
                            {{ PrisonerByCivilId?.JailData?.ExportGrpJailPublicOrganisation?.Number }}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-black prisonDashboardtd">CaseNumber.AR</td>
                        <td class="text-primary">
                            {{ PrisonerByCivilId?.JailData?.ExportGrpCase?.CaseNumber }}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-black prisonDashboardtd">CaseName.AR</td>
                        <td class="text-primary">
                            {{ PrisonerByCivilId?.JailData?.ExportGrpCasePublicOrganisation?.Name }}
                        </td>
                    </tr>

                    <tr>
                        <td class="text-black prisonDashboardtd">Year of Case.AR</td>
                        <td class="text-primary">
                            {{ PrisonerByCivilId?.JailData?.ExportGrpCase?.CaseYearIdent }}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-black prisonDashboardtd">Case Description.AR</td>
                        <td class="text-primary">
                            {{ PrisonerByCivilId?.JailData?.ExportGrpCaseType?.Description }}
                        </td>
                    </tr>

                    <tr>
                        <td class="text-black prisonDashboardtd">JailPublicOrganisation Name.AR</td>
                        <td class="text-primary">
                            {{ PrisonerByCivilId?.JailData?.ExportGrpCasePublicOrganisation?.Name }}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-black prisonDashboardtd">SectionNumber.AR</td>
                        <td class="text-primary">
                            {{ PrisonerByCivilId?.JailData?.ExportGrpJailSentence?.SectionNumber }}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-black prisonDashboardtd">Ward Number.AR</td>
                        <td class="text-primary">
                            {{ PrisonerByCivilId?.JailData?.ExportGrpWardJailSections?.SectionNumber }}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-black prisonDashboardtd">Ward Description.AR</td>
                        <td class="text-primary">
                            {{ PrisonerByCivilId?.JailData?.ExportGrpWardJailSections?.SectionDescription }}
                        </td>
                    </tr>

                    <tr>
                        <td class="text-black prisonDashboardtd">تاريخ السجن</td>
                        <td class="text-primary">
                            {{ PrisonerByCivilId?.JailData?.ExportGrpJailSentence?.StartDate | datetimeFormat }}
                        </td>
                    </tr>

                    <tr>
                        <td class="text-black prisonDashboardtd">المدة</td>
                        <td class="text-primary">
                            {{ PrisonerByCivilId?.JailData?.ExportGrpJailSentence?.DurationYears
                            }} سنة -
                            {{ PrisonerByCivilId?.JailData?.ExportGrpJailSentence?.DurationMonths
                            }} شهر -
                            {{ PrisonerByCivilId?.JailData?.ExportGrpJailSentence?.DurationDays
                            }} يوم

                        </td>
                    </tr>

                    <tr>
                        <td class="text-black prisonDashboardtd">ExpectedEndDate.AR</td>
                        <td class="text-primary">
                            {{ PrisonerByCivilId?.JailData?.ExportGrpJailSentence?.ExpectedEndDate | datetimeFormat
                            }}
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <!-- photo  -->
        <div class="mt-3" style="
          width: 25% !important;
          text-align: center !important;
          padding-top: 0.5rem !important;
        ">
            <div class="row h-50 m-auto imgDiv" *ngIf="personPhoto != null && personPhoto != ''">
                <img class="position-relative img-profile p-0" [src]="personPhoto" />
            </div>
        </div>
    </div>

</div>

<div class="back-btn d-flex  m-2">
    <button class="btn btn-primary float-start" type="button" (click)="goBack()">
        رجوع</button>
</div>