<div class="overlay">
    <div class="overlay__inner"></div>
</div>
<div class="card overlay__content">
    <div class="card-body">
        <div class="img-h rounded-top-3 py-3">
            <img src="./assets/images/MOI-logo.svg" class="logo" width="100px" />
        </div>
        <div class="img-h">
            <label class="col-form-label">{{Message}}</label>
        </div>
        <div class="img-h rounded-top-3 py-3">
            <div class="spinner-border text-primary" role="status"></div>
        </div>        
    </div>
</div>