<div class="card mb-3">
    <div class="card-body p-2 bg-300 border border-400">
        <div class="card-body position-relative">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-body d-flex flex-column">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3>Prisoner Data</h3>
                                <div class="mb-3"><label class="form-label" for="exampleFormControlInput1">CivilId
                                    </label><input class="form-control" type="text" /></div>
                                <div class="mb-3"><label class="form-label" for="exampleFormControlInput1">Name
                                    </label><input class="form-control" type="text" /></div>
                                <div class="mb-3"><label class="form-label" for="exampleFormControlInput1">CaseNumber
                                    </label><input class="form-control" type="text" /></div>
                                <div class="mb-3"><label class="form-label" for="exampleFormControlInput1">Description
                                    </label><input class="form-control" type="text" /></div>
                                <div class="mb-3"><label class="form-label" for="exampleFormControlInput1">Nationality
                                    </label><input class="form-control" type="text" /></div>
                                <div class="mb-3"><label class="form-label"
                                        for="exampleFormControlInput1">Cell</label><input class="form-control"
                                        id="exampleFormControlInput1" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>