<!--  DEMO-->
<div class="dashboard">

  <div class="content">

    <div class="row gx-6 gy-3 mb-4 align-items-center">
      <div class="col-auto">
        <h2 class="mb-0">
          PRISON CATEGORIES<span class="fw-normal text-body-tertiary ms-3">(32)</span>
        </h2>
      </div>
      <div class="col-auto">
        <a class="btn btn-secondary btn-sm px-5" href="#"><i class="fa-solid fa-plus me-2"></i>Add new prison</a>
      </div>
    </div>

    <div class="row g-3">
      <div class="col-12" *ngFor="let prison of resJailData; let i = index">
        <div class="card h-100">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <h4 class="mb-2 line-clamp-1 lh-sm flex-1 me-5">
                {{ prison?.RowsPublicOrganisation?.Name }}

              </h4>
            </div>
            <div class="d-flex align-items-center">
              <h3 class="mb-2 line-clamp-1 lh-sm flex-1 me-5">
                {{ prison?.RowsPublicOrganisation?.Number }}
              </h3>
            </div>
            <div class="view-btn d-flex justify-content-evenly">
              <!-- Button to toggle collapse -->
              <button class="btn" (click)="toggleCollapse(i,prison?.RowsPublicOrganisation?.Number)">
                <span class="bi bi-arrow-bar-down fs-3"></span>
              </button>
            </div>
            <!-- Unique collapse section for each prison -->
            <div class="collapse" [id]="'collapseExample_' + i" [ngClass]="{'show': isCollapsed[i]}"
              *ngIf="getSectionGroupData(prison?.RowsPublicOrganisation?.Number).length > 0">
              <div class="border p-card rounded">
                <div class="d-flex bg-200 mb-3 flex-row">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-6"
                        *ngFor="let count of getSectionGroupData(prison?.RowsPublicOrganisation?.Number); let i = index">
                        <div class="p-2 bg-300 border border-400"
                          (click)="goToWardGroup(prison?.RowsPublicOrganisation?.Number,count)">
                          <div class="card h-100">
                            <div class="card-body">
                              <div class="d-flex align-items-center">
                                <h4 class="mb-2 line-clamp-1 lh-sm flex-1 me-5">
                                  {{count | json}}
                                  Section Number: {{count?.sectionNumber}}
                                </h4>
                              </div>
                              <div class="d-flex align-items-center">
                                <h3 class="mb-2 line-clamp-1 lh-sm flex-1 me-5">
                                  Total Prisoners: {{count?.totalCount}}
                                </h3>
                              </div>
                            </div>
                          </div>
                          <div class="row ">
                            <div class="card h-100" *ngFor="let data of getCount(count.wards)">
                              <div class="card-body">
                                <div class="d-flex align-items-center">
                                  <h4 class="mb-2 line-clamp-1 lh-sm flex-1 me-5">
                                    Ward Number: {{ data }}

                                  </h4>
                                </div>
                                <div class="d-flex align-items-center">
                                  <h3 class="mb-2 line-clamp-1 lh-sm flex-1 me-5">
                                    Total Prisoners: {{ count.wards[data] }}
                                  </h3>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

                  </div>



                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

    <footer class="footer position-absolute">
      <h1>Footer</h1>
    </footer>
  </div>
</div>

<hr />

<!-- <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Launch basic modal</button> -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content max-width">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ADD NEW PRISON</h5>
        <button class="btn btn-close p-1" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body col-12">
        <form>
          <div class="mb-3">
            <label class="form-label" for="basic-form-name">Name</label>
            <input class="form-control" id="basic-form-name" type="text" placeholder="Name" />
          </div>
          <div class="mb-3">
            <label class="form-label" for="basic-form-email">Email address</label>
            <input class="form-control" id="basic-form-email" type="email" placeholder="name@example.com" />
          </div>
          <div class="mb-3">
            <label class="form-label" for="basic-form-password">Password</label>
            <input class="form-control" id="basic-form-password" type="password" placeholder="Password" />
          </div>
          <div class="mb-3">
            <label class="form-label" for="basic-form-dob">Date of Birth</label>
            <input class="form-control" id="basic-form-dob" type="date" />
          </div>
          <div class="mb-3">
            <label class="form-label" for="basic-form-gender">Gender</label>
            <select class="form-select" id="basic-form-gender" aria-label="Default select example">
              <option selected="selected">Select your gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
            </select>
          </div>
          <div class="mb-3">
            <div class="form-check">
              <input class="form-check-input" id="flexRadioDefault1" type="radio" name="flexRadioDefault" />
              <label class="form-check-label mb-0" for="flexRadioDefault1">Personal Account</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" id="flexRadioDefault2" type="radio" name="flexRadioDefault"
                checked="checked" />
              <label class="form-check-label mb-0" for="flexRadioDefault2">Business Account</label>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Upload Image</label>
            <input class="form-control" type="file" />
          </div>
          <div class="mb-3">
            <label class="form-label" for="basic-form-textarea">Description</label>
            <textarea class="form-control" id="basic-form-textarea" rows="3" placeholder="Description"></textarea>
          </div>
          <div class="mb-3 form-check">
            <input class="form-check-input" id="basic-form-checkbox" type="checkbox" />
            <label class="form-check-label" for="basic-form-checkbox">Remember me</label>
          </div>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button">Okay</button><button class="btn btn-outline-primary" type="button"
          data-bs-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>