<div class="border px-3"
    style="background-color: white !important; direction: rtl !important; -webkit-print-color-adjust:exact ">
    <div class="d-flex">
        <div style="
                  width: 25% !important;
                  text-align: center !important;
                  padding-top: 0.5rem !important;
                ">
            <div class="h-50 m-auto imgDiv">
                <img class="position-relative img-profile p-0" src="../../../assets/images/test.jpeg" />
            </div>
        </div>
        <div class="w-75 text-start d-grid">
            <div class="row my-auto">
                <label class="m-auto my-2 fontBold" style="font-size: 25px;">أحمد محمد عبدالعزيز</label>

                <label class="m-auto  my-2  fontBold"
                    style=" font-size: 25px; letter-spacing: 3px !important;">2891111200769</label>
            </div>


        </div>
    </div>
    <div class="d-flex">
        <div style="
                          width: 25% !important;
                          text-align: center !important;
                          padding-top: 0.5rem !important;
                        "></div>
        <div class="w-75">
            <div class="card border mb-3">
                <div class="card-header p-4 border-bottom bg-body">
                    <div class="row g-3 justify-content-between align-items-center">
                        <div class="col-12 col-md">
                            <h4 class="mb-0" data-anchor="data-anchor" id="alerts-with-icon">
                                بيانات السجين
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table fs--1 mb-0 overflow-hidden">
                        <tbody class="col-12">

                            <tr>
                                <td class="text-truncate fontRegular prisonDashboardtd">رقم المرجع</td>
                                <td class="text-black fontSemiBold text-wrap">
                                    <!-- {{ selectedPrisonerData?.RowsJeWork.Number }} -->
                                    101111980
                                </td>
                            </tr>

                            <tr>
                                <td class="text-truncate fontRegular prisonDashboardtd">التهمة</td>
                                <td class="text-black fontSemiBold text-wrap">مخدرات: حيازةاوشراءاوبيعاوترويج
                                    موادمخدرهبقصدالاتجار
                                </td>
                            </tr>
                            <tr>
                                <td class="text-truncate fontRegular prisonDashboardtd">رقم القضية</td>
                                <td class="text-black fontSemiBold text-wrap">
                                    236
                                </td>
                            </tr>
                            <tr>
                                <td class="text-truncate fontRegular prisonDashboardtd">تفاصيل القضية</td>
                                <td class="text-black fontSemiBold text-wrap">
                                </td>
                            </tr>
                            <tr>
                                <td class="text-truncate fontRegular prisonDashboardtd">سجن</td>
                                <td class="text-black fontSemiBold text-wrap">
                                    السجن المركزي (2)
                                </td>
                            </tr>
                            <tr>
                                <td class="text-truncate fontRegular prisonDashboardtd">رقم القطاع </td>
                                <td class="text-black fontSemiBold text-wrap">
                                    20
                                </td>
                            </tr>
                            <tr>
                                <td class="text-truncate fontRegular prisonDashboardtd">رقم الجناح</td>
                                <td class="text-black fontSemiBold text-wrap">
                                    20
                                </td>
                            </tr>
                            <tr>
                                <td class="text-truncate fontRegular prisonDashboardtd">الجنسية</td>
                                <td class="text-black fontSemiBold text-wrap">
                                    سوري
                                </td>
                            </tr>
                            <tr>
                                <td class="text-truncate fontRegular prisonDashboardtd">تاريخ السجن</td>
                                <td class="text-black fontSemiBold text-wrap">
                                    20-10-2015
                                </td>
                            </tr>

                            <tr>
                                <td class="text-truncate fontRegular prisonDashboardtd">المدة</td>
                                <td class="text-black fontSemiBold text-wrap">
                                    5 سنة -
                                    3 شهر -
                                    0يوم

                                </td>
                            </tr>

                            <tr>
                                <td class="text-truncate fontRegular prisonDashboardtd">تاريخ الخروج المتوقع</td>
                                <td class="text-black fontSemiBold text-wrap">
                                    20-10-2020
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>

</div>