.pwd {
    -webkit-text-security: disc !important;
}

.help {
    width: auto;
    cursor: pointer !important;
    box-shadow: var(--falcon-box-shadow-inset) !important;
    background-color: var(--falcon-input-bg) !important;
}

ul.pwd-hint > li {
    font-size: 12px !important;
    font-weight: 400 !important;
}
.form-floating> .form-control
{
   margin: 0 !important;
   padding-left: 0 !important;
}