<main class="main">
    <div class="container-fluid">
        <div class="row flex-center g-0">
            <div class="col-lg-6 col-xxl-4 py-3 position-relative">
                <div class="card mb-3 mt-3 overflow-hidden z-index-1 shadow-none">
                    <div class="card-body p-0">
                        <div class="row g-0 h-100" appNoRightClick>
                            <div class="col-md-12 d-flex flex-center">
                                <div class="p-4 p-md-5 flex-grow-1">      
                                    <div class="row">
                                        <div class="z-index-1 position-relative">                                                
                                            <p class="login-title" style="text-align: center !important; margin-top: 8px !important;">تغيير كلمة المرور</p>
                                        </div>
                                    </div> 

                                    <!-- <app-alert></app-alert> -->

                                    <div class="mt-3"></div>

                                    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" autocomplete="off">
                                        <div class="mb-3">
                                            <div class="input-group form-control floatingContainer mb-3 shadow-none">
                                                <span class="input-group-text customMode floating-R-Icon p-auto w-5 mx-0 my-3">
                                                    <span class="text-700 bi-lock"></span>
                                                </span>
                                                <div class="form-floating mb-3" [class]="dark?'dark':''">
                                                    <input class="form-control ff-fc w-75" [class]="fieldTextType?'':'pwd'" formControlName="password" appBlockCopyPaste autocomplete="off"  type="text" aria-label="password" autofill="off" placeholder ="كلمة المرور الحالية" [maxLength]="8" [readonly]="pwdChanged" style="margin: 0 !important;">
                                                    <label for="floatingInputGroup1">كلمة المرور الحالية</label>
                                                </div>                                                                                        
                                                <span class="input-group-text customMode text-center p-auto cross p-0 m-2" (click)="toggleFieldTextType('password')">
                                                    <span class="text-700 bi-eye" *ngIf="!fieldTextType"></span>
                                                    <span class="text-700 bi-eye-slash" *ngIf="fieldTextType"></span>
                                                </span>
                                            </div>

                                            <span *ngIf="password?.invalid && password?.dirty && password?.touched && password?.value ==''" class="invalid-feedback">يرجى إدخال البيان المطلوب</span>
                                        </div>
                                        <div class="">
                                            <div class="input-group form-control floatingContainer mb-3 shadow-none">
                                                <span class="input-group-text customMode floating-R-Icon p-auto my-3">
                                                    <span class="text-700 bi-lock"></span>
                                                </span>
                                                <div class="form-floating mb-3" [class]="dark?'dark':''">
                                                    <input class="form-control ff-fc w-75" [class]="newPwdFieldTextType?'':'pwd'" formControlName="newpassword" appBlockCopyPaste autocomplete="off"  type="text" aria-label="newpassword" autofill="off" placeholder ="كلمة المرور الجديدة" [maxLength]="8" [readonly]="pwdChanged" style="margin: 0 !important;">
                                                    <label for="floatingInputGroup1">كلمة المرور الجديدة</label>
                                                </div>                                                                                        
                                                <span class="input-group-text customMode text-center p-auto cross p-0 m-2"  style="width: auto; cursor: pointer !important;" (click)="toggleFieldTextType('newpassword')">
                                                    <span class="text-700 bi-eye" *ngIf="!newPwdFieldTextType"></span>
                                                    <span class="text-700 bi-eye-slash" *ngIf="newPwdFieldTextType"></span>
                                                </span>
                                            </div>

                                            <span *ngIf="newpassword?.invalid && newpassword?.dirty && newpassword?.touched && newpassword?.errors?.['maxlength']" class="invalid-feedback">
                                                الحد المسموح 8 حرف
                                            </span>
                                            <span *ngIf="newpassword?.invalid && newpassword?.dirty && newpassword?.touched && newpassword?.errors?.['minlength']" class="invalid-feedback">
                                                الحد الأدنى للطول 4
                                            </span>
                                            <span *ngIf="newpassword?.invalid && newpassword?.dirty && newpassword?.touched && newpassword?.value ==''" class="invalid-feedback">يرجى إدخال البيان المطلوب</span>
                                            <span *ngIf="newpassword?.invalid && newpassword?.dirty && newpassword?.touched && newpassword?.errors?.['pattern']" class="invalid-feedback">
                                                خطأ في البيانات المدخلة
                                            </span>

                                            <div class="p-1">
                                                <ul class="bullet-inside ps-0 pwd-hint">
                                                    <li>الحد الأدنى 4 حروف</li>
                                                    <li>الحد الأقصى 8 حروف وأرقام</li>
                                                    <li>يجب ان تبدأ كلمة المرور ب 4 حروف</li>
                                                    <li>الرموز المسموحة @ # $</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="input-group form-control floatingContainer mb-3 shadow-none">
                                                <span class="input-group-text customMode floating-R-Icon p-auto my-3">
                                                    <span class="text-700 bi-lock"></span>
                                                </span>
                                                <div class="form-floating mb-3" [class]="dark?'dark':''">
                                                    <input class="form-control ff-fc w-75" [class]="confimPwdFieldTextType?'':'pwd'" formControlName="confirmpassword" appBlockCopyPaste autocomplete="off" type="text" aria-label="confirmpassword" autofill="off" placeholder ="إعادة كلمة المرور الجديدة" [maxLength]="8" [readonly]="pwdChanged" style="margin: 0 !important;">
                                                    <label for="floatingInputGroup1">إعادة كلمة المرور الجديدة</label>
                                                </div>                                                                                        
                                                <span class="input-group-text customMode text-center p-auto cross p-0 m-2" (click)="toggleFieldTextType('confirmpassword')">
                                                    <span class="text-700 bi-eye" *ngIf="!confimPwdFieldTextType"></span>
                                                    <span class="text-700 bi-eye-slash" *ngIf="confimPwdFieldTextType"></span>
                                                </span>
                                            </div>

                                            <span *ngIf="confirmpassword?.invalid && confirmpassword?.dirty && confirmpassword?.touched && confirmpassword?.value ==''" class="invalid-feedback">يرجى إدخال البيان المطلوب</span>
                                            <span *ngIf="confirmpassword?.valid && changePasswordForm.controls['newpassword'].value != changePasswordForm.controls['confirmpassword'].value" class="invalid-feedback">خطأ، كلمة المرور وتأكيد كلمة المرور غير متطابق</span>
                                        </div>
                                        <div class="col-auto">
                                            <div class="form-check mb-0"></div>
                                        </div>
                                        <div class="mb-3" *ngIf="!pwdChanged">
                                            <button class="btn btn-primary d-block mb-3 w-100" type="submit" [disabled]="changePasswordForm.invalid" name="submit">
                                                تأكيد
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main> 
<!-- <nav class="navbar fixed-bottom navbar-light bg-light w-100">
    <app-alert class="w-100"></app-alert>
</nav> -->